.loading-container {
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#nav-profile>img {
  width: 100%;
}

.dropdown-box {
  position: absolute;
  background-color: #FEFEFE;
  min-width: 160px;
  box-shadow: 0px 3px 6px 0px rgba(200, 200, 200, 0.2);
  margin: 5px 7px;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
}

#nav-profile>.dropdown-box {
  right: 0;
}